.coupon{
    padding: 0.3rem;

}
.couponUl{
    box-sizing: border-box;
    padding: 0.3rem 1.4rem;
    /*background-color: #3bacfe;*/
    display: flex;
    justify-content: space-between;
    color: #3bacfe;
    align-items: center;
}
.couponUl>li{
    width: 1.33rem;
    height: 0.52rem;
    background-color: rgba(59, 172, 254, 0.11);
    border-radius: 0.26rem;
    text-align: center;
    line-height: 0.52rem;
    font-size: 0.2rem;

}
.couponUl>.active{
    color: #FFFFFF;
    background-color:#3bacfe; ;
}
.coupon1{
    height: 1.83rem;
    border-radius: 0.1rem;
}

.coupongreen{


    background-image: linear-gradient(90deg,
    #27d29c 0%,
    #33e170 100%),
    linear-gradient(
            #27d29c,
            #27d29c);

    box-shadow: 0rem 0.1rem 0.22rem 0rem
    rgba(46, 219, 129, 0.43);

}
.coupon1{
    display: flex;
    flex-direction: column;
}
.coupon1>span:nth-child(1){
    width: 100%;
    height: 1.24rem;
    /*background-color: red;*/
    /*padding: 0.4rem 0.2rem   0.25rem 0.2rem ;*/
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.coupon1>span:nth-child(1)>span:nth-child(1){
    padding: 0.4rem 0.2rem   0.25rem 0.2rem ;
    width: 4rem;
    /*background-color: red;*/
    display: flex;
}
.coupon1img{

    width: 1.44rem;
}
.coupon1span{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.coupon1span>span:nth-child(1){
    font-size: 0.26rem;
    color: #FFFFFF;

}
.coupon1span>span:nth-child(2){
    color: rgba(251, 254, 255, 0.6);
    font-size: 0.2rem;
}
.coupon1price{
    padding-right: 0.25rem;
    font-size: 0.94rem;
    color: #fbfeff;
}
.coupon1price>span{
    font-size: 0.22rem;
    color: #fbfeff;
}

.coupon1>span:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.25rem;
}

.coupon1>span:nth-child(2)>span:nth-child(1){
    height: 0.5rem;
    font-size: 0.2rem;
    color: rgba(251, 254, 255, 0.6);
    padding-left: 0.25rem;
    line-height: 0.5rem;
}
/*.coupon1>span:nth-child(2)>span:nth-child(1)>span.coupon1dian{*/
/*    display: inline-block;*/
/*    height: 0.5rem;*/
/*    */
/*}*/
.coupon1>span:nth-child(2)>a{
    font-size: 0.2rem;
    width: 1.36rem;
    height: 0.38rem;
    background-color: #fefffe;
    box-shadow: 0rem 0.01rem 0.21rem 0rem
    rgba(186, 186, 186, 0.2);
    border-radius: 0.19rem;
    /*color: #32e074;*/
    line-height: 0.38rem;
    text-align: center;
    /*padding-right: 0.25rem;*/
    /*box-sizing: border-box;*/

}
.coupongreen1{
    color: #32e074;
}

.couponblue{
    background-image: linear-gradient(90deg,
    #33a2f8 0%,
    #3fdef1 100%),
    linear-gradient(
            #27d29c,
            #27d29c);
    background-blend-mode: normal,
    normal;
    box-shadow: 0rem 0.1rem 0.22rem 0rem
    rgba(57, 192, 245, 0.43);

}
.couponblue1{
    color: #38b9f5;
}

.couponorgance{
    background-image: linear-gradient(90deg,
    #ffb637 0%,
    #ffde47 100%),
    linear-gradient(
            #27d29c,
            #27d29c);
    background-blend-mode: normal,
    normal;
    box-shadow: 0rem 0.1rem 0.22rem 0rem
    rgba(255, 219, 53, 0.43);

}
.couponorgance1{
    color: #ffc33c;
}
.couponDiv>p{
    margin-top: 0.2rem;
}
.couponhui1{
    /*background-color: #d7e0e3;*/
    color:#d7e0e3 ;
}
.couponhui{
    background-color: #d7e0e3;
}
.couponDiv{
    display: none;

}

.couponDiv.active{
    display: block;
}
    /*.couponUl>div.active{*/
    /*    display: block;*/
    /*}*/
