body{
    /*background-color: red;*/
    width: 7.5rem;
    height: 13.34rem;
    background-color: #fbfeff;
}
header{
    width: 7.5rem;
    height: 1rem;
    /*background-color: #fbfeff;*/
    color: #4ebbfe;
    font-size: 0.38rem;
    text-align: center;
    line-height: 1rem;
}
.seo{
    height: 0.6rem;
    padding: 0.17rem 0.18rem ;
    overflow: hidden;

}
.seo >.adress{
    float: left;
    width: 1.16rem;
    height: 0.6rem;
    color: #36a8fe;
    font-size: 0.22rem;
    margin-top: 0.15rem;


}
.seo >.adress >span{
    display: inline-block;

}

.seo >.adress >span >img{
    width: 0.28rem;
    height: 0.28rem;
}

.seo >.sousuo{
    float: right;
    width: 5.93rem;
    height: 0.6rem;
    border: 0.01rem solid #e8f6ff;
    border-radius: 0.3rem;
    background-color: #f2faff;
    position: relative;
}
.seo >.sousuo >a {
    display: block;
    position: absolute;
    right: 0.2rem;
    top: 0;
    width: 0.6rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    color: #3bee17;
    /*background-color: #65ff6b;*/
}


.Model-img{
    overflow: hidden;
    font-size: 0;
    margin-top: 0.1rem;
}
ul {
    width: 7.5rem;
    height: 7.23rem;
    /*background-color: #00C1DE;*/
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*padding: 0.22rem;*/

}
li {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.30rem 0.15rem 0 0.15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
li >div{
    width: 1.13rem;
    height: 1.13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
li >div >img{
    width: 100%;
    height: 100%;

}
li >p{


    text-align: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.2rem;
    background-color: #f2faff;
    display: flex;
    box-sizing: border-box;
    /*padding: 0 0 0.22rem;*/
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer >a{
    width: 0.75rem;
    height: 0.98rem;
    text-align: center;
    opacity: 0.5;
}
footer >a.hot{
    opacity: 1;
}
footer >a >img{
    width: 0.7rem;
    height: 0.7rem;
}
footer >a >p {
    font-size: 0.24rem;
}