body{
    position: relative;
    width: 7.5rem;
    height: 13.34rem;
    text-align: center;
}
table{
    height: 4.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d5d9df;
    /*margin: auto;*/
    text-align: center;
}
tr,td{
    box-sizing: border-box;
    border: 5px solid #d5d9df;

}
td{
    width: 33.3%;
    /*height: 0.5rem;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    color: #000;
    background-color: #fcfcfc;
    border-radius: 0.8em;


}
tr:nth-child(4)>td:nth-child(1){
    background-color: #d5d9df;
}
tr:nth-child(4)>td:nth-child(3){
    background-color: #d5d9df;
}


/*中间密码框的设定*/
.password{
    width: 100%;
    /*background-color: red;*/
    padding-top: 2.5rem;
    box-sizing: border-box;
}

.password>p{
    font-size: 0.3rem;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.02rem;
    /*width: 3.8rem;*/
}
.password>p>span{
    color: #34da87;

}

.password>ul{
    width: 4rem;
    margin: 0 auto;
    height: 1.4rem;
    display: flex;
    /*background-color:red ;*/
    justify-content: space-around;
    align-items: center;
    margin-top: 0.2rem;
    padding: 0 0.35rem ;
    border-top: 1px solid rgba( 0, 0, 0, 0.05) ;

}
.password>ul>li{
    width: 0.47rem;
    height: 0.47rem;
    border-radius: 50%;
    background-color: #e3eef6;
}

.password>ul>li.passwordli{
    /*content: '1';*/
    /*background-color: #2fa5ff;*/
    background-image: linear-gradient(#3e8dca,#FFFFFF,#992f2f);
    box-shadow: 0rem 0.05rem 0.1rem 0rem
    rgba(47, 165, 255, 0.51);
}


.password>p.passch{
    margin: 0.6rem auto;
    width:4.52rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0rem 0.04rem 0.2rem 0rem
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    line-height: 0.6rem;
    font-size: 0.22rem;
    color: #ffffff;

}

.password>p.passch>a{
    width: 100%;
    height: 100%;
    color: #ffffff;
}