header>a{
    color: #3bacfe;
}
/*搜索框布局样式*/
.shoptop{
    width: 100%;
    height: 0.8rem;
    /*background-color: #3bacfe;*/
    padding: 0.1rem 0.2rem;
    box-sizing: border-box;
    position: relative;
}
.shoptop>input{
    width: 7.12rem;
    height: 0.6rem;
    background-color: #f2faff;
    border: none;
    border-radius: 0.3rem;
}
.shoptop>span{
    position: absolute;
    top: 0.15rem;
    right: 0.40rem;
    width: 0.8rem;
    height: 0.45rem;
    background-color: #a4e0bd;
    border-radius: 0.21rem;
    text-align: center;
    line-height: 0.45rem;
    padding-top: 0.07rem;
    box-sizing: border-box;
}
.shoptop>span>img{

    width: 0.33rem;
    height: 0.32rem;
}
/*搜索框布局完成*/
/*店铺详情布局*/
.shopDetail{
    width: 100%;
    height: 2.7rem;
    /*background-color: #3bacfe;*/
    box-sizing: border-box;
    padding: 0.3rem 0.2rem;
    display: flex;
    justify-content: space-between;
}
.shopDetail>p:nth-child(1){
    width: 1.9rem;
    height: 2.0rem;
}
.shopDetail>p:nth-child(2){
    width: 5.0rem;
    height: 2.0rem;
    /*background: rgba(0, 0, 0, 0.29);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopDetail>span:nth-child(1){
    width: 1.9rem;
    height: 2.0rem;
}
.shopDetail>span:nth-child(2){
    box-sizing: border-box;
    padding-left: 0.2rem;
    width: 5.0rem;
    height: 2.0rem;
    /*background: rgba(0, 0, 0, 0.29);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.shoptitle{
    width: 100%;
    height: 0.3rem;
    font-size: 0.3rem;
    color: rgba(0,0,0,0.6);
}
.shopfirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #36a8fe;
    font-size: 0.26rem;
    position: relative;
    padding: 0 0.2rem;

}
.shopfirst>span>span:nth-child(2){
    color: rgba(0, 0, 0, 0.3);
}
.shopdian{
    position: absolute;
    top: 0;
    left: -0.25rem;
}

.shopsecond{
    color:#a4e0bd;
    font-size: 0.20rem;
}

.shopsecond>span{
    font-size: 0.26rem;
}
.shopthird{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.shopthird>span:nth-child(1){
    font-size: 0.24rem;
    color: #3bacfe;
    width: 2.04rem;
    height: 0.35rem;
    background-color: rgba(59, 171, 255, 0.11);
    border-radius: 0.18rem;
    /*line-height: 0.35rem;*/

}
.shopthird>a{
    width: 1.24rem;
    height: 0.45rem;
    background-color: #3bacfe;
    box-shadow: 0rem 0.05rem 0.12rem 0rem
    rgba(59, 172, 254, 0.43);
    border-radius: 0.23rem;
    color: #FFFFFF;
    font-size: 0.2rem;
    line-height: 0.45rem;
}

/*全部详情的布局*/
.shoptab{
    width: 100%;
    height: auto;
    /*background: #6cff96;*/
    padding: 0.2rem 0;
    box-sizing: border-box;

}
.shoptab>ul{
    box-sizing: border-box;
    color: #3bacfe;
    font-size: 0.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.8rem;
}
.shoptab>ul>li{
    width: 1.5rem;
    height: 0.52rem;
    border-radius: 0.26rem;
    background-color: rgba(59, 172, 254, 0.11);
    text-align: center;
    line-height: 0.52rem;
}
.shoptab>ul>.active{
    background-color: #3bacfe;
    box-shadow: 0rem 0.05rem 0.12rem 0rem
    rgba(59, 172, 254, 0.43);
    color: #FFFFFF;
}

.shoptab>div{
    display: none;
}
.shoptab>div.active{
    display: block;
}

.shopfour{
    width:4.7rem;
font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.shopDetailA>span:nth-child(2){*/
/*    */
/*    padding: 0 0 0 0.2rem;*/
/*}*/

.shopfive{
    color: #cfcfcf;
    font-size: 0.2rem;
}
.shopfive>span{
    color: #36a8fe;
}
.shopPrice{
    font-size: 0.26rem;
    color: #fbb548;
}

/*用户评价*/
.shopComm{
    width: 100%;
    height: auto;
    padding: 0.2rem 0rem;
    /*background: rgba(0, 0, 0, 0.34);*/
    box-sizing: border-box;
}
.shopComm>span{

    display: flex;
    justify-content: space-between;
    color: rgba(59, 172, 254, 0.6);
    font-size: 0.2rem;
    padding: 0 0.1rem;
}
.shopComm>span>p{
    width: 1.5rem;
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;

}
.shopComm>span>p.active{
    /*width: 1.12rem;*/
    border-bottom: 2px solid #3bacfe;
    color:  #3bacfe;
}



b{
    display: none;
    /*padding: 0.4rem 0 ;*/
    font-weight: normal;

}
b>span{
    padding-top: 0.2rem;
}
b.active{
    display: block;
}

.shopCoDetail{
    width: 100%;
    height: 1.11rem;
    display: flex;
    justify-content: space-between;
}
.shopimg{
    width: 1.8rem;
    height: 1.5rem;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    /*padding:*/
}
.shopimg>img{
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
}

.shopright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopsDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color:#cfcfcf;
    font-size: 0.2rem;

}
.shopComxx{
    /*height: 0.2rem;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    position: relative;
}
.shopComxx>span{
    display: flex;


}
.shopComxx>span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
}

.shopComxx>span>span{
    width: 0.2rem;
    height: 0.2rem;
    line-height: 0.2rem;
}
.shopsCom{
    width: 5.5rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.26rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.shopsadress{
    width: 100%;
    /*background: #555;*/
    color: rgba(0, 0, 0, 0.31);
    font-size: 0.2rem;
    display: flex;
    justify-content: left;

}
.shopsadress>span{

    padding: 0 0.2rem 0 0;
}

