.shopIntroud{
    box-sizing: border-box;
    padding: 0.22rem;

    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.shopIntroud>ul>li{
    min-height: 1.4rem;
}
.shopIntroud>ul>li>p:nth-child(1){
    font-size: 0.32rem;
    /*position: relative;*/

}
/*first*/
.shopInfirst>p:nth-child(1){
    color: #4f5b64;

    line-height:0.4rem;
    letter-spacing: 0.02rem;
}
.shopInfirst>p>span{
    color: #44b5ff;
}
.shopInfirst>p:nth-child(2){
    padding: 0.1rem 0.30rem;
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.22rem;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2 ;

}
/*second*/

.shopIsecond>p:nth-child(1){
    color: #4f5b64;

    line-height:0.4rem;
    letter-spacing: 0.02rem;
}
.shopIsecond>p>span{
    color: #34da87;
}
.shopIsecond>p:nth-child(2){
    box-sizing: border-box;
    padding: 0.2rem 0 0.2rem 0.1rem;
    width: 7rem;
    height: 4rem;
}
/*third*/
.shopIthird>p:nth-child(1)>span:nth-child(1){
    color: #4f5b64;
    font-size:0.32rem ;
    line-height:0.4rem;
    letter-spacing: 0.02rem;
}
.shopIthird>p:nth-child(1)>span:nth-child(1)>span{
    color: #34da87;
}
.shopIthird>p:nth-child(1)>span:nth-child(2){
    color: #f2faff;
    width: 1.24rem;
    height: 0.45rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    border-radius: 0.23rem;
    text-align: center;
    font-size: 0.2rem;
    line-height: 0.45rem;
}

.shopIthird>p:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.1rem;
    box-sizing: border-box;
}
.shopIthird>p>span{
    padding:0.1rem 0rem;
    font-size: 0.26rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.01rem;

}
.shopIthird>p>span:nth-child(1)~span{
    /*display: inline-block;*/
    padding: 0 0.3rem;
    box-sizing: border-box;
}

.shopIthird>p>span.icon-ren{
    color:rgba(22,197,255,0.63);
    padding-left:0.1rem;
}
.shopIthird>p>span.icon-weizhi{
    color:#6fdb42;
    padding-left:0.1rem;
}
.shopIthird>p>span.icon-youjian{
    color:#fece50;
    padding-left:0.1rem;
}

.shopIfourth{
    padding-top: 0.2rem;
}

.shopIfourth>p:nth-child(1)>span{
    color: #34da87;

    line-height:0.4rem;
    letter-spacing: 0.02rem;
}
.shopIfourth>p:nth-child(1){
    padding-bottom: 0.2rem;
    color: #4f5b64;
}

.shopIfourth>p:nth-child(2){

    /*width: 6.8rem;*/
    height: 3.9rem;
    background: rgba(0, 0, 0, 0.34);
}