header{
    width: 7.2rem;
    height: 1rem;
    background-color: #fbfeff;
    color: #4ebbfe;
    font-size: 0.38rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    line-height: 1rem;
    padding: 0 0.15rem;

}
header >a>.iconfont{
   /*padding-left: 0.1rem;*/
    font-size: 0.25rem;
    color: #4ebbfe;

}
section{
    height: 0.9rem;
    width: 100%;
}
section >ul {

    width: 7.5rem;
    height: 0.9rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    line-height: 0.9rem;
    color: #3bacfe;
}
section > ul >li > span{
    padding-left: 0.05rem;
}
section >ul >li.hot{
    color: #36d681;
}
.list{
   position: absolute;
    top: 2rem;
    bottom: 0;
    left: 0;
    right: 0;

}
.list >ul{
    box-shadow: 0rem 0.03rem 0.43rem 0rem
    rgba(41, 167, 255, 0.13);
    width: 7.5rem;

    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.list >ul >li{

    width: 100%;
    height: 2.50rem;
    margin-top: 0.1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list>ul >li >.img{

    float:left ;
    width: 2rem ;
    height: 2rem;
    box-shadow: 0rem 0.01rem 0.21rem 0rem
    rgba(223, 223, 223, 0.43);
    box-sizing: border-box;
    line-height: 2rem;
    text-align: center;
    padding:0.3rem;


}
.list>ul>li>.img>img{
    width: 100%;
    height: 100%;


}
.list>ul >li >.list-p{
    width: auto ;
    height: 2rem;

    float: right;
    min-width: 5.2rem;
}
/*.list-p >p{*/
/*    margin-bottom: 0.11rem;*/
/*}*/
.list-p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-p >h3{
    width: 100%;
    height: 0.3rem;
    font-size: 0.3rem;
    color:#000000;
    font-weight: normal;
    padding-bottom: 0.1rem;
    /*margin-bottom: 0.03rem;*/
}
.list-p>p >span{
    color: #99d3ff;
    font-size: 0.22rem;

}
.list-p >p >.fen:before{
    content: '评分';
    font-size: 0.22rem;
    color: #000;
    padding-right: 0.05rem;
}
.list-p >p >.jiedan:before{
    content: '接单率';
    font-size: 0.22rem;
    color: #000;
    padding-right: 0.05rem;
}
.list-p >p>.pingjia{
    display: inline-block;
    width: 1.21rem;
    height: 0.35rem;
    border-radius: 0.18rem;
    background-color: rgba(59,171,255,0.1);
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.35rem;
    margin-right: 0.15rem;
}
.list-p >p>.dian{
    color: #36d681;
}
.list-p >p >.buy{
    color: rgba(0,0,0,0.3);
}
.list-p >p >.money{

    color: #fbb548;
    font-size: 0.26rem;
    float: right;
    margin-right: 0.15rem;
}