*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.2rem;
}
i{
    font-style: normal;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }

header{
    display: flex;
    justify-content: space-between;
    font-size: 0.4rem;
    color: #4ebbfe;
    margin-bottom: 0.24rem;
    margin-top: 0.3rem;
}
header a{
    width: 0.3rem;
    /*height: 0.4rem;*/
}
header span{
    font-size: 0.38rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #4ebbfe;
}
header .iconfont{
    font-size: 0.4rem;
    color: #36a8fe;
    box-sizing: border-box;
}
.search{
    box-sizing: border-box;
    padding: 0.2rem 0.22rem;
    height: 0.95rem;
    line-height: 0.6rem;
    margin-bottom: 0.25rem;
    width: 100%;
    box-shadow: 0 0.15rem 0.29rem 0
    rgba(41, 167, 255, 0.13);

}
.search > .searchbox{
    display: inline-block;
    position: relative;
    float: left;
    width:100%;
    height: 0.6rem;
    border: solid 0rem rgba(55, 169, 254, 0.17);
    border-radius: 0.3rem;
    background-color: #ebf7ff;
    opacity: 0.58;
}
.searchbutton{
    position: absolute;
    box-shadow: 0rem 0rem 0.1rem 0rem  rgba(255, 211, 161, 0.45);
    width: 0.79rem;
    height: 0.44rem;
    background-color: #a4e0bd;
    border-radius: 0.21rem;
    opacity: 0.71;
    float: right;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    z-index: 999;
    right: 0;
}
.searchbutton img{
    position: absolute;
    left: 0.15rem;
    width: 0.5rem;
    height: 0.4rem;
    box-shadow: 0rem 0.03rem 0.1rem 0rem
    rgba(127, 211, 161, 0.45);
    opacity: 0.71;
}
.kong{
    position: relative;
}
.tishiimg{
    position: absolute;
    top:1.5rem;
    left: 1.1rem;
}
.kong span2{
    position: absolute;
    top:6.5rem;
    left: 1.9rem;
    color: #000000;
    letter-spacing: 0.01rem;
    font-size: 0.26rem;
    opacity: 0.4;
}
.kong span3{
    position: absolute;
    top: 7rem;
    left: 2.8rem;
    letter-spacing: 0.01rem;
    color: #000000;
    font-size: 0.26rem;
    opacity: 0.4;
}
