@import "base.css";
.logo{
    margin:1.8rem auto .44rem;
    height: 1.45rem;
    width: 1.45rem;
}
p.name{
    text-align: center;
    height: .25rem;
    line-height: .25rem;
    font-size: .26rem;
    width: 1.80rem;
    position: relative;
    margin: 0 auto .61rem;
    font-weight: bold;
    color: black;
    opacity: 0.7;
}
p.name:before{
    position: absolute;
    content: '';
    left: -.1rem;
    top: .11rem;
    width: .10rem;
    height: .05rem;
    background-color: #3ab1ff;
    box-shadow: 0 .02rem .05rem 0
    rgba(58, 177, 255, 0.43);
    border-radius: .025rem;
}
p.name:after{
    position: absolute;
    content: '';
    right: -.1rem;
    top: .11rem;
    width: .10rem;
    height: .05rem;
    background-color: #3ab1ff;
    box-shadow: 0 .02rem .05rem 0
    rgba(58, 177, 255, 0.43);
    border-radius: .025rem;
}
.border{
    height: .78rem;
    width: 6.44rem;
    border-top: #000000 .02rem solid;
    opacity: 0.04;
    margin:0 auto;
}
.text{
    width: 6.42rem;
    margin: 0 auto;
}
.text>p{
    font-size: .26rem;
    font-weight: bold;
    color: #000000;
    opacity: 0.5;
    letter-spacing: .01rem;
    line-height: .40rem;
    margin-bottom: .40rem;
}
