@import "base.css";
.coin{
    margin:1.61rem .57rem 0;
    padding: 0 .56rem .76rem;
    position: relative;
    border-bottom: #f6f9fa .02rem solid;
}
.num{
    position: absolute;
    top:1.95rem;
    right: 0;
    left: 0;
    font-size: .46rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    color: #525f67;
    font-weight: bold;
    letter-spacing:.01rem;
    display: block;
    margin-left: .14rem;
}
.con{
    padding: .25rem .56rem .31rem;
    display: block;
    height: .23rem;
    line-height: .23rem;
    font-size: .24rem;
    font-weight:bold ;
    color: #000000;
    opacity: 0.5;
    text-align: center;
    border-bottom: #f6f9fa .02rem solid;
}