@import "base.css";
.imgbox{
    margin: 1.92rem 3rem .66rem 3rem;
    width: 1.5rem;
    height: 1.40rem;
}
.remain{
    height: .25rem;
    width: 1.86rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.remain .text{
    color: #000000;
    opacity: 0.7;
    font-size: .26rem;
    line-height: .25rem;
    font-weight: bold;
}
.remain .num{
    font-size: .4rem;
    font-weight: bold;
    display: inline;
    line-height: .20rem;
    opacity: 0.7;
}
.border{
    padding-bottom: .67rem;
    margin: 0 .53rem;
    border-bottom: #f1f4f5 .02rem solid;
}
a.recharge{
    display: block;
    margin: .72rem 1.73rem ;
    padding: .2rem 1.79rem;
    width: .8rem;
    height: .19rem;
    font-size: .2rem;
    line-height: .19rem;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0 .04rem .2rem 0
    rgba(55, 223, 116, 0.75);
    border-radius: .3rem;
}