@import "base.css";
@import "ulcontent.css";
ul.tab{
    padding-top: .42rem;
    width: 100%;
    height: .22rem;
    padding-bottom: .31rem;
    margin-top: .88rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 .39rem .29rem 0 rgba(41, 167, 255, 0.13);
}
ul.tab>li{
    height: 100%;
}
ul.tab>li p{
    font-size: .2rem;
    line-height: .22rem;
    font-weight: bold;
    color: #3bacfe;
    float: left;
    margin-right: .15rem;
}
#gre{
    color: #36d681;
}
#green{
    color: #36d681;
}
ul.tab>li>.iconfont{
    float: left;
    line-height: .15rem;
    font-size: .15rem;
}
ul.content{
    position: absolute;
    top: 2.16rem;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: #11c2e8;*/
}