@import "base.css";
@import "myvip.css";
ul.introduce{
    margin:0 .33rem .78rem;
    padding-top: .06rem;
}
ul.introduce>li{
    padding: .15rem .23rem;
    width: 6.1rem;
    border-bottom: #f6f9fa .02rem solid;
    position: relative;
}
ul.introduce>li>.con{
    font-size: .24rem;
    height: .24rem;
    line-height: .24rem;
    color: #000;
    font-weight: bold;
    opacity: 0.4;
    position: relative;
    display: block;
}
ul.introduce>li>.con:before{
    content: "";
    position: absolute;
    width: .06rem;
    height: .06rem;
    background: #30c49c;
    border-radius: .025rem;
    box-shadow: 0 .02rem .05rem 0
    rgba(48, 196, 156, 0.52);
    top: .09rem;
    left: -.24rem;
}
ul.totalPart{
    margin: .16rem .31rem 0;
}
li.total{
    height: 1.26rem;
    margin: .30rem 0 .17rem;
    width: 6.8rem;
}
.imgPart{
    width: 1.13rem;
    height: 1.13rem;
    float: left;
}
.contentPart{
    width: 5.3rem;
    float: left;
    display: block;
    margin-left: .22rem;
}
.contentPart > p.titlePart{
    margin-top: .25rem;
    font-size: .28rem;
    font-weight: bold;
    letter-spacing: .01rem;
    color: #000000;
    opacity: 0.7;
}
.contentPart > p.textPart{
    margin-top: .16rem;
    font-size: .24rem;
    font-weight: bold;
    color: #000000;
    opacity: 0.4;
}


.imgPart>.logo{
    width: 1.13rem;
    height: 1.13rem;
    border-radius: 50%;
}
.imgPart>.logo .iconfont{
    font-size: .59rem;
    line-height: 1.13rem;
    text-align: center;
    height: 1.13rem;
    color: white;
}
.imgPart>.blue{
    background-image: linear-gradient(180deg,
    #30a3fe 0%,
    #6fd5fe 100%),
    linear-gradient(
            #000000,
            #000000);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 .10rem .29rem 0
    rgba(41, 167, 255, 0.36);
}
.imgPart>.green{
    background-image: linear-gradient(180deg,
    #2fd4bb 0%,
    #2dde57 100%),
    linear-gradient(
            #000000,
            #000000);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 .10rem .29rem 0
    rgba(72, 213, 112, 0.52);
}
.imgPart>.yellow{
    background-image: linear-gradient(180deg,
    #ffb73a 0%,
    #ffe533 100%),
    linear-gradient(
            #000000,
            #000000);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 .10rem .29rem 0
    rgba(255, 205, 54, 0.52);
}
