.big-box>.box-bottom1{
    width: 100%;
    /*height: 1.92rem;*/
    /*padding-top: 0.65rem;*/
    /*background: #36a8fe;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dierhang{
    width: 100%;
    height: 0.64rem;
    display: flex;
    padding: 0.15rem 0;
    justify-content: space-between;
    border-bottom: 0.01rem solid rgba(0,0,0,0.04);
}
.dierhang .tuikuanyuanyin {
    font-size: 0.26rem;
    /*line-height: 0.4rem;*/
    height: 0.26rem;
    padding-left: 0.2rem;
    color: #41b2fc;
    position: relative;
}
.tuikuanyuanyin em{
    color: #474747;
}
.dierhang .tuikuanyuanyin:before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0rem 0.02rem 0.05rem 0rem rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.15rem;
    left: 0.05rem;
}
.dierhang>.maicuole{
    color: #474747;
}
.maicuole .iconfont{
    color: #36a8fe;
}
.disanhang{
    width: 100%;
    height: 0.75rem;
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.disanhang .tuikuanjine{
    height: 0.22rem;
    line-height: 0.22rem;
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
}
.tuikuanjine>p{
    display: inline-block;
    padding-left: 0.2rem;
    font-size: 0.26rem;
    height: 0.3rem;
    color: #474747;
    position: relative;
}
.tuikuanjine>p:before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0rem 0.02rem 0.05rem 0rem rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.15rem;
    left: 0.05rem;
}
.tuikuanjine em{
    color: #fcbc41;
}
.disanhang .disanhang-jine{
    font-size: 0.32rem;
    color: #fcbc41;
}
.big-box1{
    width: 7rem;
    min-height: 5rem;
    /*background: #36a8fe;*/
}
textarea{
    width: 100%;
    height: 1.48rem;
    font-size: 0.36rem;
    padding: 0.2rem;
    border-radius: 0.08rem;
    background: #e7f6ff;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.big-box1 .update-img {
    font-size: 0.26rem;
    line-height: 0.26rem;
    height: 0.26rem;
    padding-left: 0.2rem;
    color: #474747;
    position: relative;
}
.update-img em{
    color: #31d094;
}
.big-box1 .update-img:before{
    content: "";
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36dd7c;
    box-shadow: 0rem 0.02rem 0.05rem 0rem rgba(54, 221, 124, 0.43);    border-radius: 0.03rem;
    position: absolute;
    top: 0.15rem;
    left: 0.05rem;
}
.big-box1 .box1-photo{
    width: 1.01rem;
    height: 1.01rem;
    background-image:linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    background-blend-mode: normal, normal;
    box-shadow: 0rem 0.04rem 0.2rem 0rem rgba(55, 223, 116, 0.75);
    border-radius: 0.1rem;
    margin: 0.34rem 5.77rem 1.44rem 0.24rem;
    text-align: center;
    line-height: 1.01rem;
}
.box1-photo .iconfont{
    font-size: 0.49rem;
    color: #fff;
}
.big-box1 .box1-submit{
    width: 4.54rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    background-blend-mode: normal, normal;
    box-shadow: 0rem 0.04rem 0.2rem 0rem rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.box1-submit .submit{
    /*width: 0.41rem;*/
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.2rem;
    letter-spacing: 0.01rem;
    color: #fff;
}