@import "Base.css";
header{
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    font-weight: bolder;
    background-color: #fbfeff;
    color: #4ebbfe;
}
.Search{
    padding: 0.17rem 0.22rem;
    height: 0.6rem;
    line-height: 0.6rem ;
    background-color: #fbfeff;
}
.Search > img{
    width: 0.3rem;
    height: 0.3rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}
.Search > span{
    float: left;
    font-size: 0.28rem;
    margin-top: 0.15em;
    color: #4ebbfe;
}
.Search > a{
    float: right;
    width: 5.93rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    border: 0.01rem solid skyblue;
    background-color: #f2faff;
}
.Search > a > img{
    margin-right: 0.12rem;
    margin-top: 0.12rem;
    float: right;
}
/*Search*/
.Banner{
    width: 100%;
    height: 3rem;
    background-color: #046b80;
}
.Banner > img{
    width: 100%;
    height: 3rem;
}
.Category{
    padding: 0.22rem;
    height: 6.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
}
.Category > li{
    width: 2.3rem;
    height: 1.94rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.Category > li > img{
    width: 1.13rem;
    height: 1.13rem;
}

.Category > li > a{
    width: 1.2rem;
    height: 0.5rem;
    margin-top: 0.25rem;
    color: #8e9397;
    font-size: 0.24rem;
    text-align: center;
}
.Category > li > a > div{
    width: 1.13rem;
    height: 1.13rem;
}
/*底部导航栏*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.98rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #f1f9ff;
}
footer > a{
    width: 0.7rem;
    height: 100%;
    padding-top: 0.1rem;
    font-size: 0.24rem;
    opacity: 0.6;
    text-align: center;
    color: #59c3fe;
}
footer > a.hot{
    opacity: 1;
}
footer > a > img{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}